
/* Third Party */
@use 'third-party/normalize.scss';
@use 'third-party/prisma-theme.scss';

/* Global */
@use 'global/variables.scss';
@use 'global/base-styles.scss';
@use 'global/utilites.scss';

/* Layout */
@use 'layouts/home.scss';
@use 'layouts/blog.scss';
@use 'layouts/contact.scss';
@use 'layouts/projects.scss';

/* Components */
@use 'components/site-header.scss';
@use 'components/site-footer.scss';
@use 'components/drawer.scss';
