:root {
  /* Brand Colors */
  --color-primary: #222;
  --color-secondary: #2f5bc2;

  /* Background Colors */
  --color-bg: #fff;
  --color-bg-secondary: #f7f7f7;
  --color-bg-accent: rgb(174, 182, 225);
  --color-bg-hover: #f3f4f6cc;

  /* Text and Border Colors */
  --color-text: #222;
  --color-text-alt: #fff;
  --color-text-gray: #6b7280;
  --color-border: rgb(0 0 0 / 6%);

  /* Status Colors */
  --color-danger: #e03e3e;

  /* Typography */
  --font-family-base: InterVariable, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --font-family-heading: var(--font-family-base);

  /* Sizes */
  --site-width: 850px;
  --header-height: 66px;
  --header-height-lg: 76px;

  /* Z-index */
  --z-header: 10;

  /* Other */
  --border-radius: 12px;
  --border-radius-sm: 5px;
  --shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);

  // Dark mode colors
  --color-secondary-dark: rgb(22, 78, 99);

  --color-link-dark: rgb(8, 145, 178);

  --color-bg-dark: #000;
  --color-bg-wrapper-bg-dark: rgb(24 24 27);
  --color-bg-secondary-dark: rgb(42 42 43);
  --color-bg-accent-dark: rgb(8, 51, 68);

  --color-title-dark: rgb(244 244 245);
  --color-text-dark: rgb(161 161 170);

  --color-border-dark: rgb(39, 39, 42);

}
