<footer class="site-footer">
  <small>
    Website built with <a href="https://www.11ty.dev/" target="_blank">Eleventy</a>.
    Source code on <a href="{{ pkg.repository.url }}" target="_blank">GitHub</a>.
  </small>
</footer>
