<footer class="site-footer">
  <small>
    This project is maintained by <a href="https://www.tylerroderick.com">Tyler M. Roderick</a>.
    Check out the <a href="{{ pkg.repository.url }}">GitHub repo</a>.
  </small>
</footer>
