{% set css %}
  {# Third Party #}
  {% include "assets/css/third-party/normalize.css" %}
  {% include "assets/css/third-party/google-fonts.css" %}

  {# Global #}
  {% include "assets/css/global/variables.css" %}
  {% include "assets/css/global/base-styles.css" %}
  {% include "assets/css/global/utilites.css" %}

  {# Layouts #}
  {% include "assets/css/layouts/home.css" %}
  {% include "assets/css/layouts/blog.css" %}
  {% include "assets/css/layouts/contact.css" %}
  {% include "assets/css/layouts/projects.css" %}

  {# Components #}
  {% include "assets/css/components/site-header.css" %}
  {% include "assets/css/components/site-footer.css" %}
{% endset %}

<style>{{ css | cssmin | safe }}</style>
