.article-card {
  padding-bottom: 14px;
  border-bottom: 1px solid var(--color-border);
}

.article-card:last-child {
  border-bottom: none;
}

.tag-list--no-wrap {
  display: flex;
  align-items: center;
  padding: 40px 0 30px;
  border-bottom: 1px solid var(--color-border);
}

.tag-list__title {
  margin: 0;
  margin-right: 10px;
}

.tag {
  margin: 0 4px;
  padding: 6px 8px;
  background-color: var(--color-bg-secondary);
  border-radius: var(--border-radius-sm);
  white-space: nowrap;
  font-size: 13px;
  font-weight: 500;
}

.tag:hover {
  border: none;
}

.tag:first-child {
  margin-left: 0;
}