.project-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 40px;
  margin: 40px 0;
}

@media (min-width: 1024px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

.project-card {
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px 30px;
  border: 2px solid var(--color-border);
}

.project-card__title {
  color: var(--color-text);
}

.project-card__tag {
  background-color: var(--color-secondary);
  color: var(--color-text-alt);
}

.project-card__tag:hover {
  color: var(--color-text-alt);
  filter: brightness(90%);
}

.project-card__emoji {
  margin-right: 8px;
}
