.page-container {
  max-width: var(--site-width);
  margin-right: auto;
  margin-left: auto;
  padding: 1rem;
}

.shadow {
  box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
}

.gradient-text {
  background: linear-gradient(130deg,#ff7a18,#af002d 41.07%,#319197 76.05%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  background: var(--color-secondary);
  font-size: 14px;
}

.btn:hover, .btn:focus {
  filter: brightness(90%);
}