:root {
  /* Brand Colors */
  --color-primary: #222222;
  --color-secondary: #206088;

  /* Background Colors */
  --color-bg: #ffffff;
  --color-bg-secondary: #f7f7f7;
  --color-bg-accent: #a8dadc;

  /* Text and Border Colors */
  --color-text: #222222;
  --color-border: rgba(0, 0, 0, 0.06);

  /* Typography */
  --font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  --font-family-heading: var(--font-family-base);

  /* Sizes */
  --site-width: 900px;

  /* Other */
  --border-radius: 12px;
}
