.drawer {
  display: none;
}

.drawer__overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  opacity: 0;
  transition: opacity 0.3s;
  will-change: opacity;
  background-color: #000;
  user-select: none;
}

.drawer__header {
  padding: 2.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid var(--color-border);

  :root[data-theme="dark"] &{
    border-bottom: 1px solid var(--color-border-dark);
  }
}

.drawer__close {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  color: var(--color-text);
  cursor: pointer;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  margin-left: 1rem;

  svg {
    width: 100%;
  }

  :root[data-theme="dark"] &{
    color: var(--color-text-dark);
    background-color:transparent
  }
}

.drawer__wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  max-width: 340px;
  z-index: 9999;
  overflow: auto;
  transition: transform 0.3s;
  will-change: transform;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transform: translate3d(103%, 0, 0); /* extra 3% because of box-shadow */
  box-shadow: 0 2px 6px #777;

  :root[data-theme="dark"] &{
    background-color: var(--color-bg-wrapper-bg-dark);
    box-shadow: none;
  }
}

.drawer__content {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  flex-grow: 1;
  padding: 1.5rem;
}

.drawer--left .drawer__wrapper {
  left: 0;
  right: auto;
  transform: translate3d(-100%, 0, 0);
}

.drawer.is-active {
  display: block;
}

.drawer.is-visible .drawer__wrapper {
  transform: translate3d(0, 0, 0);
}

.drawer.is-visible .drawer__overlay {
  opacity: 0.5;
}

.drawer__nav {
  padding-left: 0;
  list-style: none;
}

.drawer__nav-item {
  margin: 0;
  padding: 15px 0;
  border-bottom: 1px solid var(--color-border);
  font-size: 1.75em;
  font-weight: 700;

  :root[data-theme="dark"] &{
    border-bottom: 1px solid var(--color-border-dark);
  }
}