.site-header {
  border-top: 3px solid var(--color-secondary);
}

.site-header__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: var(--site-width);
  margin: 0 auto;
  padding: 15px;

  @media (min-width: 1024px) {
    padding: 15px 40px 0;
  }
}

.site-header__logo-container {
  margin: 0;
  font-weight: 700;
}

.site-header__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 6px 8px;
  border-radius: var(--border-radius-sm);
  color: var(--color-text);

  &:hover {
    border-bottom: none;
    background-color: var(--color-bg-secondary);
    color: var(--color-secondary);
  }
}

.site-header__nav {
  display: none;
  width: 100%;
  margin-top: 15px;

  @media (min-width: 1024px) {
    display: block;
    width: auto;
    margin-top: 0;
  }
}

.site-header__mobile-nav {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  color: var(--color-text);
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  svg {
    width: 24px;
    height: auto;
  }

  @media (min-width: 1024px) {
    display: none;
  }
}

.site-header__mobile-nav-label {
  margin-right: 12px;
}

.site-header__items {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-header__item {
  margin: 0 6px;
  font-weight: 500;
  font-size: 14px;

  @media (min-width: 1024px) {
    margin: 0 15px;
    font-size: 15px;
  }
}

.site-header__link {
  display: flex;
  align-items: center;
  padding: 6px 8px;
  border-radius: var(--border-radius-sm);
  color: var(--color-text);

  &:hover {
    border-bottom: none;
    background-color: var(--color-bg-secondary);
    color: var(--color-secondary);
  }

  &[aria-current] {
    background-color: var(--color-bg-secondary);
    color: var(--color-secondary);
  }
}
