<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "partials/head.njk" %}

	{% if global.enable_theme_switch %}
		<body class="{% if global.default_theme == 'dark' %}dark{% endif %}" data-use-system-theme="{{ global.use_system_theme }}">
	{% else %}
		<body>
	{% endif %}
		<div class="wrapper-bg-wrapper"><div class="wrapper-bg"></div></div>

		{% include "partials/site-header.njk" %}
		{% include "partials/drawer.njk" %}
		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "partials/footer.njk" %}
	</body>

</html>
