<!doctype html>
<html
  {% if global.enable_theme_switch %}data-enable-theme-switch="{{ global.enable_theme_switch }}"{% endif %}
  {% if global.enable_theme_switch %}data-use-system-theme="{{ global.use_system_theme }}"{% endif %}
  {% if global.default_theme %}data-default-theme="{{ global.default_theme }}"{% endif %}
  {% if section %}data-current="{{ section }}"{% endif %}
  lang="en"
>

	{% include "partials/head.njk" %}

  <body>
		<div class="wrapper-bg-wrapper">
      <div class="wrapper-bg"></div>
    </div>

		{% include "partials/site-header.njk" %}
		{% include "partials/drawer.njk" %}
		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "partials/footer.njk" %}
	</body>

</html>
