---
layout: base.njk
section: projects
---
<div class="page-container">
  <h1>{{title}}</h1>

  {% if subtitle %}
    <p>{{ subtitle }}</p>
  {% endif %}

  <hr/>

  {{ layoutContent | safe }}

  {# Projects #}
  {% from "macros/projectlist.njk" import projectlist %}
  {{ projectlist(projects = collections.project | reverse) }}
</div>