<header class="site-header">
  <span class="site-header__logo-container">
    <a class="site-header__link" href="{{ '/' | url }}">
      <img
        class="site-header__logo"
        src="/static/img/logo.png"
        alt="Fernfolio Logo"
        width="25px"
        height="25px"
        loading="lazy">
      {{ metadata.title }}
    </a>
  </span>
  <nav class="site-header__nav">
    {% set navPages = collections.all | eleventyNavigation %}
    <ul class="site-header__items">
    {%- for entry in navPages %}
      <li class="site-header__item">
        <a class="site-header__link" href="{{ entry.url | url }}"{% if entry.url == page.url %} data-current="current item"{% endif %}>{{ entry.title }}</a>
      </li>
    {%- endfor %}
    </ul>
  </nav>
</header>
