---
layout: base.njk
section: home
---
<div class="home-page">
	<div class="home-page__bg-square"></div>

  {# Hero #}
  <div class="hero">
    <div class="hero__col">
      <h1 class="hero__title gradient-text">{{ home.title }}</h1>
      {% if home.body %}
        <div class="hero__body">{{ home.body | markdown | safe }}</div>
      {% endif %}
    </div>
    <div class="hero__col">
      {% image
        home.image,
        home.image_alt,
        "(min-width: 1024px) 50vw, 100vw",
        "hero__image shadow",
        "eager"
      %}
    </div>
  </div>

  {# Projects #}
  <div class="list-header">
    <h2 class="list-header__title">Projects</h2>
    <a class="btn btn--outline btn--sm" href="/projects">View All</a>
  </div>
  {% from "macros/projectlist.njk" import projectlist %}
  {{ projectlist(projects = collections.project | reverse) }}

  {# Articles #}
  <div class="list-header">
    <h2 class="list-header__title">Articles</h2>
    <a class="btn btn--outline btn--sm" href="/blog">View All</a>
  </div>
  {% from "macros/articlelist.njk" import articlelist %}
  {{ articlelist(
    articles = collections.post | reverse,
    show_tags = false,
    limit = 3
  ) }}
</div>
