---
layout: layouts/base.njk
section: blog
permalink: /blog/index.html
---
<div class="page-container">
  <h1>{{title}}</h1>
  {{ layoutContent | safe }}
	<hr>

  {% set postslist = pagination.items %}
  {% set show_tags = true %}
  {% include "components/postslist.njk" %}
  {% include 'components/pagination.njk' %}
</div>
