---
layout: layouts/base.njk
section: home
permalink: /index.html
---
<div class="home-page">
	<div class="home-page__bg-square"></div>

  <div class="hero">
    <div class="hero__col">
      <h1 class="hero__title gradient-text">{{ home.title }}</h1>
      {% if home.subtitle %}
        <h2>{{ home.subtitle }}</h2>
      {% endif %}
    </div>
    <div class="hero__col">
      <img 
        class="hero__image shadow" 
        src="{% if home.image %}{{ home.image }}{% else %}https://source.unsplash.com/random/600x600{% endif %}"
        alt="{{ home.image_alt }}"
        loading="lazy">
    </div>
  </div>
</div>
