---
layout: layouts/base.njk
section: home
---
<div class="home-page">
	<div class="home-page__bg-square"></div>

  <div class="hero">
    <div class="hero__col">
      <h1 class="hero__title gradient-text">{{ title }}</h1>
      <h2>{{ subtitle }}</h2>
    </div>
    <div class="hero__col">
      <img class="hero__image" src="https://source.unsplash.com/random/600x600">
    </div>
  </div>
</div>
