<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ renderData.title or title or metadata.title }}</title>
  <meta name="description" content="{{ metaDescription or renderData.metaDescription or summary or metadata.description }}">
  <link rel="dns-prefetch" href="https://identity.netlify.com">

  {# Canonical URL #}
  {% if canonical %}
    <link rel="canonical" href="{{ canonical }}" />
  {% endif %}


  {# Third-party scripts #}
  <script async src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  {# Fonts #}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

  {# CSS #}
  <link rel="stylesheet" href="/assets/css/main.css">

  {# Javascript #}
  <script>
    // Initialize theme
    // Must run before page rendering to prevent flash
    const themeConfig = document.documentElement.dataset;
    const theme = localStorage.getItem('theme');

    if (theme) {
      themeConfig.theme = theme;
    } else {
      const defaultTheme = themeConfig.defaultTheme;
      const useSystemTheme = themeConfig.useSystemTheme === 'true';
      const prefersDark = window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches;

      themeConfig.theme = (useSystemTheme && prefersDark) ? 'dark' : defaultTheme;
    }
  </script>
  <script defer src="/assets/js/main.bundle.js"></script>
</head>
