<header class="site-header">
  <div class="site-header__container">
    <span class="site-header__logo-container">
      <a class="site-header__link" href="{{ '/' | url }}" aria-label="Fernfolio logo">
        {% include 'icons/icon-fern.njk' %}
      </a>
    </span>
    <nav class="site-header__nav">
      {% set navPages = collections.all | eleventyNavigation %}
      <ul class="site-header__items">
      {%- for entry in navPages %}
        <li class="site-header__item">
          <a
            class="site-header__link"
            href="{{ entry.url | url }}"
            {% if entry.url == page.url %} aria-current data-current="current item"{% endif %}
          >
            {{ entry.title }}
          </a>
        </li>
      {%- endfor %}
      </ul>
    </nav>
  </div>
</header>
